
/*
 * _backgrounds
 * ==============================================
 * Block Background Visual Styles
*/


.__GrayBright
{
	background-color: #EEEEEE;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

.__GrayDark
{
	background-color: $color_GreyDark;
}

.__GrayLight
{
	background-color: $color_GreyLite;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.4) inset;
}

.__White
{
	background-color: #FFFFFF;
}

.__White_Shadowed
{
	background-color: #FFFFFF;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

.__Purple
{
	background-color: rgba(0, 0, 255, 0.1);
}

.__Green
{
	background-color: rgba(0, 255, 0, 0.1);
}

.__Texture-Dark1
{
	background:  #222222 url('/images/textures/dark_1.jpg') left top repeat scroll;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.9) inset;
}

.opacity .__Texture-Dark1 {
	opacity: 0.8;
}

.__Texture-BlocksDark
{
	background:  #EEEEEE url('/images/textures/dark_blocks.jpg') left top repeat scroll;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8) inset;
}

.__Texture-BlocksLight
{
	background:  #EEEEEE url('/images/textures/light_blocks.jpg') left top repeat scroll;
}

.__TextureBox-BlocksLight
{
	background:  #EEEEEE url('/images/textures/light_blocks.jpg') left top repeat scroll;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
}


