
/*
 * Typography
 * ===================================
 */

$FontBody: "Sorts Mill Goudy";
$FontHeaders: "Sorts Mill Goudy";
$FontCode: "";

$FontFam_Headers: "Sorts Mill Goudy", Tahoma, Geneva, Arial, sans-serif;
$FontFam_Sans: "Sorts Mill Goudy", Tahoma, Geneva, Arial, sans-serif;
$FontFam_Serif: "Sorts Mill Goudy", Times, serif;
$FontFam_Hand: "Sorts Mill Goudy", serif;


// General Use Typography Mixins
// ====================================================
// Quick Mixins for the Base Typography Rules Used Consistantly.
// Compiled into Rules that Use Them.

@mixin Type_MainBody() {
	font-family: $FontBody;
	font-style: normal;
	font-weight: 300;

	@include set-font-size(16);
	@include set-line-height(28);

	@include media-max-scale(900px){
		@include set-font-size(12);
		@include set-line-height(16);
	}
}


@mixin Type_MainHeader() {
	font-family: $FontBody;

	@include set-font-size(36);
	@include set-line-height(40);

	@include media-max-scale(900px){

		@include set-font-size(26);
		@include set-line-height(30);
	}
}


/* -- Base Font Definitions -- */
/*_____________________________*/

/* League Gothic - Standard */
@font-face {
    font-family: $FontBody;
    src: url('/fonts/GoudyStM-webfont.eot');
    src: url('/fonts/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/GoudyStM-webfont.woff') format('woff'),
         url('/fonts/GoudyStM-webfont.ttf') format('truetype'),
         url('/fonts/GoudyStM-webfont.svg#GoudyStM-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
