

// SASS Code : _utils
// ==============================================
// Some SASS Preprocessing Utility Mixins and Functions.
// Nothing from this File will Appear Directly in the Compiled CSS

@use "sass:math";

@mixin make-circle($width)
{
	height: $width;
	width: $width;
	border-radius: $width / 2; -moz-border-radius: $width / 2; -webkit-border-radius: $width / 2; -khtml-border-radius: $width / 2;
}


@mixin set-font-size($pixelSize)
{
	font-size: $pixelSize + px;
	font-size: math.div($pixelSize, 10) + rem;
}


@mixin set-line-height($pixelSize)
{
	line-height: $pixelSize + px;
	line-height: math.div($pixelSize, 10) + rem;
}


