
	<!-- bunch of icon related meta header stuff that we need to support browsers, and to stop getting 404 errors for missing files-->
	<link rel="apple-touch-icon" sizes="57x57" href="/Images/icons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/Images/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/Images/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/Images/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/Images/icons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/Images/icons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/Images/icons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/Images/icons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/Images/icons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/Images/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/Images/icons/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/Images/icons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/Images/icons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/Images/icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/Images/icons/manifest.json">
	<link rel="mask-icon" href="/Images/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/Images/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/Images/icons/mstile-144x144.png">
	<meta name="msapplication-config" content="/Images/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
