<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>{{ title }}</title>

	{%- include "njk_blocks/webicons_n_tiles.njk" %}
	{%- include "njk_blocks/cssBundle.njk" %}
	{%- include "njk_blocks/scriptBundles/clean_dependencies.njk" %}
	{%- include "njk_blocks/scriptBundles/jquery.njk" %}

	{%- include "njk_blocks/pageScripts.njk" %}
</head>

<body>
{{ content | safe }}
</body>

</html>
