/*
 *
 * Main Site Screen Styles
 * ================================
 * Compiles the Various SASS Sub-sheets to Build the Base Stylesheet for Web Display
 *
 *
 * NAMING  CONVENSIONS  LEGEND
 * ================================
 *
 * someName									-	A Block Module Base Definition
 * someName--SomeElement					-	Style for an Element of the Block Module 'someName'
 * someName__SomeState						-	Style for a Variant (non-base) State of the Block Module 'someName'
 * someName--SomeElement__SomeState			-	Style for a Variant (non-base) State of the Element 'SomeElement' of the Block Module 'someName'
 * __SomeStyleName							-	A Visual Only Style - No Layout, Spacing, Size, etc. Rules are Included
 *
 *
 * Z_INDEX LEVEL NOTES
 * ================================
 *
 * Page Header :  500
 * Page Body Div :  1
 * Page Footer Div :  2
 *
 *
 *
 *
 * In the Compiled CSS this Comment Block will be Immediately Followed by...
 *
 * -- Global Browser CSS Reset --
 * ============================== */


// Base Setup (using Global Browser CSS Reset)
// ==============================================================
@charset "UTF-8";
@import "_libs/_browser_resets/reset";


//@import "_libs/_GENERATED/testFont";


// Component CSS to Include in this Stylesheet
// ==============================================================
@import "_libs/_sass_code/all";
@import "_libs/layout/media_breaks";
@import "_libs/_styleguides-sass_constants/all";
@import "_libs/layout/base_elements";

body {
	text-align: center;
	font-size: 2rem;
}

.template.title {
	font-size: 48px;
	color: green;
	padding-left: 0;
	padding-right: 0;
}
