
progress#reading-progress {
	position: fixed;
	top: 0;
	width: 100%;
	height: 4px;
	background-color: transparent;
	border: none;
	z-index: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

progress#reading-progress::-moz-progress-bar {
	background-color: #f9b434
}

progress#reading-progress:indeterminate::-moz-progress-bar {
	width: 0
}

progress#reading-progress::-webkit-progress-bar {
	background-color: #1a2533
}

progress#reading-progress::-webkit-progress-value {
	background-color: #f9b434
}
