---

title: 'Processed Template'
layout: 'mainSite.njk'
PageScripts: ['js/app.js']

---
	<div class="template title">
		Tal's Node Grunt Site Template
	</div>
	<div class="template title">
		Site index.html (Built from Nunjucks Template)
	</div>
	<img src="/img/example.png">
	{%- if BuildData.BuildEnv.BUILD_WEB_FONTS == "true" %}
	<div style="font-size: 5rem;"><i class="icon icon_angularjs-plain"></i> icon_angularjs-original Built from SVG Source.</div>
	<div>SVG from <a href='http://konpa.github.io/devicon/'>Devicon</a></div>
	{% endif %}
	<div style="font-size: 32px; margin-top: 20px;">
		<a href='./index_unprocessed.html'>Static (unprocessed) Index Page</a>
		{%- if BuildData.BuildEnv.BUILD_OPENFL == "true" %}
		<a href='./openfl_package/'>OpenFl Test Package</a>
		{% endif %}
	</div>
